.contact {
  display: flex;
  background-color: #2046b3;
  color: white;
  padding-bottom: 45px;
  align-items: center; }

@media (max-width: 1200px) {
  .contact {
    flex-direction: column-reverse; } }

.first-letter_yellow:first-letter {
  color: #ffc600; }

.big-letter {
  font-size: 45px; }

.contact__title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 70px;
  width: 43.5%; }

@media (max-width: 1200px) {
  .contact__title {
    width: 100%; } }

.contact__title:after {
  display: block;
  content: "";
  height: 2px;
  background-color: white;
  width: 80%;
  margin-right: 15%;
  float: right; }

@media (max-width: 1200px) {
  .contact__title:after {
    width: 100%;
    margin: auto; } }

.contact__form {
  width: 50%;
  padding-left: 6.6%;
  padding-right: 17.5%; }

@media (max-width: 1200px) {
  .contact__form {
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.contact__map {
  width: 50%; }

.contact__map img {
  width: 100%; }

.input-style {
  border: 2px solid white;
  background-color: inherit;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  resize: none; }

.width_part {
  width: 38.5%; }

@media (max-width: 1200px) {
  .width_part {
    width: 100%; } }

.width_full {
  width: 100%; }

.contact__container {
  display: flex;
  width: 106%;
  justify-content: space-between; }

@media (max-width: 1200px) {
  .contact__container {
    width: 100%;
    flex-direction: column;
    align-items: center; } }

.height_120 {
  height: 120px; }

.contact__info-title {
  font-weight: 500;
  margin-right: 5%;
  font-size: 16px; }

.contact__info__item {
  display: flex;
  margin-top: 30px; }

.contact__button {
  width: 30%;
  height: 35px;
  background-color: #ffc600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 20px 0px; }

.contact__info {
  margin-top: 60px; }

.contact__info:after {
  display: block;
  content: "";
  width: 106%;
  height: 2px;
  background-color: white;
  margin-top: 70px; }

@media (max-width: 1200px) {
  .contact__info:after {
    width: 100%; } }

.contact__social {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }

.social-link {
  width: 25%;
  border-radius: 50%;
  background-color: white;
  margin-right: 10%;
  padding: 10px; }

@media (max-width: 1200px) {
  .desktop_map {
    display: none; } }

.mobile_map {
  display: none; }

@media (max-width: 1200px) {
  .mobile_map {
    display: block;
    width: 100%;
    margin-top: 20px; } }
