.text-color_yellow {
  color: #ffc600; }

.blog__date {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px; }

.blog__title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px; }

.blog__description {
  margin-top: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 15px; }

@media (max-width: 1200px) {
  .blog {
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    padding: 15px; } }

.blog__picture {
  width: 100%; }

@media (max-width: 1200px) {
  .blog__picture {
    border-radius: 30px; } }
