.side_navigation__layout {
  position: fixed;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  top: 15vh;
  right: 88vw;
  width: 10vw;
  padding: 20px;
  border: 1px solid black;
  transition-duration: 200ms;
  transform: translateX(-20vw); }
  .side_navigation__layout ul {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none; }
    .side_navigation__layout ul li {
      margin: 20px 0; }
      .side_navigation__layout ul li a {
        margin: 0;
        transition-duration: 200ms;
        transform: scale(1);
        padding: 0;
        color: black;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none; }
        .side_navigation__layout ul li a:hover {
          color: #ffc600; }
  @media (max-width: 1200px) {
    .side_navigation__layout {
      display: none; } }

.side_navigation__item_active a {
  color: #ffc600 !important; }
