.team__member__name {
  font-weight: 500;
  margin-top: 20px; }

.team__member__status {
  font-style: italic; }

.team__member {
  text-align: center;
  width: 20%; }

@media (max-width: 1200px) {
  .team__member {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    padding-bottom: 10px;
    flex-shrink: 0;
    margin-left: 5%;
    margin-right: 5%; } }

.team__member__photo {
  width: 100%;
  height: auto; }

@media (max-width: 1200px) {
  .team__member__photo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; } }
