.navigation__background {
  position: relative;
  width: 100%;
  z-index: 0;
  bottom: 0; }

.navigation__menu {
  position: relative;
  z-index: 1;
  display: flex;
  list-style: none;
  width: 30%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 12.5%;
  margin-left: 10%; }

@media (max-width: 1200px) {
  .navigation__menu {
    margin-left: 0;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 4%; } }

.navigation__header {
  color: white;
  font-size: 35px;
  margin-top: 12.2%;
  margin-left: 10%;
  position: relative;
  z-index: 1;
  line-height: 0.95;
  width: 100%; }

@media (max-width: 1200px) {
  .navigation__header {
    text-shadow: 1px 1px 1px black;
    margin-left: 5%;
    margin-top: 37%;
    font-size: 30px; } }

.navigation__item {
  margin-right: 15%; }

.navigation__item a {
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;
  transition-duration: 300ms; }

.navigation__item a:hover {
  color: white;
  border-bottom: 2px solid #ffc600;
  transition-duration: 300ms; }

@media (max-width: 1200px) {
  .navigation__item {
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px black; } }

.navigation {
  width: 100%;
  bottom: 0;
  margin-top: 5%; }

@media (max-width: 1200px) {
  .navigation {
    margin-top: 0; } }

.navigation__content {
  position: absolute; }

@media (max-width: 1200px) {
  .navigation__content {
    display: flex;
    justify-content: space-between;
    width: 100%; } }

@media (max-width: 1200px) {
  .header__dekstop-nav {
    display: none; } }
